<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Currency Converter </title>
    <link href="/main.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="main-container"> 
        <div class="box"> 
            <div class="title"> 
                <p> Amount </label>
            </div>
            <form action="/submit" method="POST">
                <input type="number" name="amount" class="Amount">

                <div class="dropdown" name="CurrencyFrom"> 
                    <p> From: </p> 
                    <select name="currency"> 
                        <% for (var i = 0; i < currencies.length; i++) { %>
                            <option name="currencyFrom" value="<%= currencies[i] %>"> <%= currencies[i] %> </option> 
                        <% } %>
                    </select>
                </div>

                <div class="dropdown" name="CurrencyTo"> 
                    <p> To: </p> 
                    <select name="currency"> 
                        <% for (var i = 0; i < currencies.length; i++) { %>
                            <option name="currencyTo" value="<%= currencies[i] %>"> <%= currencies[i] %> </option> 
                        <% } %>
                    </select>
                </div>

                <% if (locals.convertedAmount) { %>
                    <p> <%= convertedAmount %>  </p>
                <% } %>
                <div class="submit-container"> 
                    <input type="submit" class="submit" name="Convert">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
