<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Currency Converter </title>
    <link href="/main.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="main-container"> 
        <div class="box"> 
            <p class="title"> Currency Exchange </p>
            <form action="/submit" method="POST">
                <div class="dropdown" name="CurrencyFrom"> 
                    <label for="currency">Convert from:</label> 
                    <select name="currency"> 
                        <% for (var i = 0; i < currencies.length; i++) { %>
                            <option name="currencyFrom" value="<%= currencies[i] %>"> <%= currencies[i] %> </option> 
                        <% } %>
                    </select>
                </div>
                <input type="number" name="amount">
                <div class="dropdown" name="CurrencyTo"> 
                    <label for="currency">Convert to:</label> 
                    <select name="currency"> 
                        <% for (var i = 0; i < currencies.length; i++) { %>
                            <option name="currencyTo" value="<%= currencies[i] %>"> <%= currencies[i] %> </option> 
                        <% } %>
                    </select>
                </div>
                <% if (locals.convertedAmount) { %>
                    <p> <%= convertedAmount %>  </p>
                <% } %>
                <input type="submit" class="submit" name="Convert">
            </form>
        </div>
    </div>
</body>
</html>